<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudinary.android.download.test"
    android:versionCode="1"
    android:versionName="1.0">

    <application>
        <uses-library android:name="android.test.runner" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="${cloudinaryUrl}" />
    </application>

</manifest>